	<li>
		<%= gravatar_for user %>

<span><%= link_to user.name, user, :target=>"_blank" %></span>
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to 'delete', user, :method => 'delete', :data => { :confirm => "You sure?" } %>
	<% end %>
	</li>